<html>
	<body>
		<head> 
			<title>MusicApi</title>
			<link href="https://raw.githubusercontent.com/OscarDelgadoMiranda/css/master/style.css" rel="stylesheet" type="text/css">
		</head>
		
		<h1 align="center">Busca tus canciones</h1>
		
		<script>
			function urlstr()
			{
				var cad = document.getElementById("buscar").value;
				var str = "/buscar/stream/";
				return str + cad;
			}
			
			function urlall()
			{
				var cad = document.getElementById("buscar").value;
				var all = "/buscar/all/";
				return all + cad;
			}
		
			function enviar(pagina)
			{
				document.busqueda.action = pagina;
				document.busqueda.submit();
			}
		</script>
		
		<ul>
			<table border="0" cellspacing="4">
				<tr>
					<td><input type="text" id="buscar" name="q" value="" size="44"/></td>
				</tr>
				<tr>
					<form name="busqueda" action="" method="post">
						<td><input class="mainbutton" type="button" value="Buscar" onClick="enviar(urlall())">
							<input class="mainbutton" type="button" value="Buscar streaming" onClick="enviar(urlstr())"></td>
					</form>
				</tr>
			</table>
		</ul>
		
		<ul>
			<p align="center"><strong>Introduce lo que quieres buscar en el cuadro de texto y disfruta de la mejor musica.</strong></p>
		</ul>
	
		<footer id="main-footer"><p>&copy; Todos los derechos reservados.</p></footer>
	</body>
</html>
