<html>
	<head> 
			<title>MusicApi</title>
			<link href="https://raw.githubusercontent.com/OscarDelgadoMiranda/css/master/style.css" rel="stylesheet" type="text/css">
	</head>
	
	<style>
		body {
			font-size: 1.5em; 
			padding-top: 100px; 
		}
	</style>
	
	<body>
		<p align="center"><strong>Tus musica de la carpeta 'Descargas'</strong></p>
		<p align="center"><img src="http://i.imgur.com/GMmvzK8.png"/></p>
		<p align="center"><strong>se ha guardado en dropbox con exito</strong></p>
	</body>
</html
